/* -----------*\
    Fonts  
\*------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
/* ---------------*\
    Common styles  
\*----------------*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.common-width{
    width: 85%;
    align-content: center;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* ----------------*\
    Header and menu  
\*-----------------*/
header{
    height: 120px;
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-title h3{
    color: #000;
    font-size: 24px;
    font-weight: 700;
}
.menu ul{
    display: flex;
}
.menu li a{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-left: 36px;
}
/* --------------*\
    Top banner 
\*---------------*/
.top-banner{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.banner-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}
.banner-content p{
    margin: 20px 200px 30px 0px;
}
.preebook-btn{
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 50px;
}
.banner-backroundg{
    position: relative;
    margin-left: 30px;
}
.banner-backroundg >img{
    width: 400px;
}
.banner-img{
    position: absolute;
    width: 300px;
    top: 10px;
    left: 10px;
}
